body{
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: Nunito;
}

h1{
    margin-top: 10%;
    font-size: 7rem;
    color: white;
    text-shadow: 0px 2px 4px 1px rgba(0,0,0,0.36);
}

#chatbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#changeBtn{
    outline: none;
    background: none;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    font-family: Nunito;
    border: 1px solid white;
    border-radius: 15px;
    transition: all 0.3s;
    opacity: 0.6;
}

#changeBtn:hover{
    transform: scale(1.1);
    opacity: 1;
}

.question{
    font-size: 3rem;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

input{
    width: 600px;
    height: 80px;
    font-size: 40px;
    font-family: nunito;
    color: white;
    border: none;
    background: none;
    border-bottom: 3px solid;
    border-image: linear-gradient(to left, #c33764, #1d2671);
    border-image-slice: 1;
    outline: none;
    float: left;
    padding: 2px 10px;
}

::placeholder{
    color:white;
    opacity: 30%;
    font-size: 20px;
}

#sendBtn{
    width: 120px;
    height: 70px;
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    margin-left: 10px;
    outline: none;
    transition: all 0.3s;
    margin-top: 15px;
    opacity: 0.6;
    cursor: pointer;
    font-family: Nunito;
}

#sendBtn:hover{
    transform: scale(1.2);
    opacity: 1;
}

.footer {
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0;
    padding: 10px;
}

.footer a{
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}

.footer a:hover{
    transform: scale(1.4);
    font-weight: bold;
} 